argopy
pandas
xarray
psycopg2-binary
chromadb
langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-huggingface
huggingface-hub
fastapi
uvicorn
streamlit
plotly
folium
sentence-transformers
python-dotenv
pyyaml
pytest
streamlit-folium
requests
numpy
netCDF4
pydantic
aiohttp
aiosignal
altair
annotated-types
anthropic
anyio
attrs
backoff
bcrypt
blinker
branca
build
cachetools
certifi
cftime
charset-normalizer
click
colorama
coloredlogs
dataclasses-json
decorator
distro
docstring_parser
durationpy
erddapy
filelock
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
h11
h5netcdf
h5py
httpcore
httptools
httpx
httpx-sse
humanfriendly
idna
importlib_metadata
importlib_resources
iniconfig
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
mypy_extensions
narwhals
networkx
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pillow
pluggy
posthog
propcache
protobuf
pyarrow
pyasn1
pyasn1_modules
pybase64
pydantic-settings
pydantic_core
pydeck
Pygments
PyPika
pyproject_hooks
pyreadline3
python-dateutil
pytz
referencing
regex
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
setuptools
shellingham
six
smmap
sniffio
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
tornado
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
watchfiles
websocket-client
websockets
xyzservices
yarl
zipp
zstandard